
<!DOCTYPE html>
<html lang="ENG">
<head>
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form method="GET">
    <h1>WELCOME</h1>
    <div>
        Hello, {{ username }}!
    </div>
    <a href="logout"> Log out</a>

</form>
</body>
</html>