
<!DOCTYPE html>
<html lang="ENG">
<head>
    <link rel="shortcut icon" href="#">
    <link href="/static/normalize.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/skeleton.css">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form method="POST">
            <h1>LOGIN</h1>
            <div>
                <label for="login">User name:</label>
                <input type="text" name="username">
             </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password">
            </div>
            <button type="submit"> Log in</button>
        </form>
    </div>
</body>
</html>